{namespace soy.page}

/**
*/
{template .index}
	<h1>Welcome</h1>
	
    <p>You've reached the website of Adam Ahmed, a Javascript developer at <a href="http://www.atlassian.com">Atlassian</a>. Enjoy!</p>
	
	<p class="signature"><a href="http://www.twitter.com/hitsthings">@hitsthings</a></p>
{/template}