.posts-layout,
.post-layout {
	max-width: 900px;
	margin: auto;
}

dl.metadata {
	list-style-type: none;
}
dl.metadata:first-letter {
	text-transform: uppercase;
}
dl.metadata > dt,
dl.metadata > dd {
	display: inline;
}

dl.metadata > dd:before {
	content: ' ';
}
dl.metadata > dd + dt:before {
	content: ', ';
}